/* колір тексту: заголовки color: #212121; 
для параграфів та номер телефону color: #757575;
webstudio зверху  color: #2196F3;color: #000000;
студія та емейл  color: #2196F3;
портфоліо та контакти color: #212121; */
/* вебстудіо знизу color: #2196F3;
адреса на карту гугл color: #FFFFFF;
емейл і тел знизу color: rgba(255, 255, 255, 0.6);
кнопка в Студії box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
фон сірий кнопка портфоліо background: #F5F4FA; */

/* *,
*::before,
*::after {
    box-sizing: border-box;} */

:root {
    --primary-text-color: #212121;
    --title-text-color: #212121;
    --paragraph-color: #757575;
    --accent-color-web: #2196F3;
    --accent-color-studio: #000000;
    --accent-color-title: #FFFFFF;
    --accent-color-rgba: rgba(255, 255, 255, 0.6);
    --accent-color-emailink: rgba(255, 255, 255, 1);
    --accent-color-hero: #2F303A;
    --accent-color-button: #188CE8;
    --accent-color-but: #F5F4FA;
} 

body {
background-color: var(--accent-color-title);
font-family: Roboto, sans-serif;
color: var(--paragraph-color);
}

/* header */
.header-container {
display: flex;
align-items: center;
}

.header-nav {
    display: flex;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 32px; 
}

.webstudio-top { 
    display: flex;
    margin-right: 93px;
    /* margin-left: 215px; */
/* padding-top: 32px;
padding-bottom: 32px; */
align-items: center;
} 

.site-nav  {
    display: flex;
    gap: 50px; 
}

.webstudio-top {
color: var(--accent-color-studio);
font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none; 
}

/* .contacts {
    margin-right: 344px;
} */
/* .telephone {
    margin-right: 215px;
} */

.web {
color: var(--accent-color-web);
}

ul {    list-style: none;}

/* site-nav */
.site-nav, .link, .portfolio, .contacts
 {    text-decoration: none; }

.link {
    color: var(--primary-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        
}

.site-nav, .link:hover,
.site-nav, .link:focus {
    color: var(--accent-color-web);
}

.email,
.telephone {
    color: var(--paragraph-color);
}
    
.site-nav, .current { 
    color: var(--accent-color-web); }

 .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
    /* display: flex; */
    /* flex-direction: row; */
    
    outline: 2px solid red;
    outline-offset: -2px;
        }

.section {
    /* padding-top: 94px; */
    /* padding-bottom: 94px; */
}

/* Секція 1  */
/* hero   */

.hero { 
background-color: var(--accent-color-hero); 
/* padding-top: 200px;
padding-bottom: 280px; */

    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    /* border: 5px solid tomato; */
}

.hero-title {
        color: var(--accent-color-title);
font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    position: absolute;
    width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;  
}

.container-hero-title {
    /* align-items: center; */
    /* justify-content: center; */
}

/* button */
button {
    font-family: Roboto, sans-serif;
    color: var(--accent-color-title);
    background-color: var(--accent-color-web);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-sizing: border-box;

    position: absolute;
        width: 216px;
        height: 50px;
        left: 692px;
        top: 430px;

        border-radius: 4px;

        /* display: flex;
            align-items: center;
            text-align: center; */
}
.pointer:hover,
.pointer:focus { 
    color: var(--accent-color-title);
    background-color: var(--accent-color-button);
}

/* section 2*/
.sect { font-size: 0px; }

.container-section {
    display: flex;
    padding-top: 10px;
    padding-right: 10px;
    gap: 30px;
}


/* section 3*/
.container-section-img {
    display: flex;
    /* align-items: center; */
    padding-top: 55px;
    padding-bottom: 94px;
    gap: 30px;
}


/* features */
.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text {
    text-transform: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
      }

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.tit { 
    color: var(--title-text-color);
    font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
    letter-spacing: 0.03em;
 }

/* 757575 */
 .tex { 
    font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
    letter-spacing: 0.03em; }

.section, .koman {
 background-color: var(--accent-color-title); }

.section, .koman,  .tit, .tex
{text-align: center;
}

.container-section-koman {
    display: flex;
    gap: 30px;
    /* border-radius: 0px 0px 4px 4px; */
}

.container-background {
background-color: var(--accent-color-but);
}

.fon {
    background-color: var(--accent-color-title);

    width: 270px;
    height: 368px;
    top: 1632px;
    
    /* padding-top: 186px;
    padding-bottom: 94px; */
}

/* Підвал сторінки */
.futer { background-color: var(--accent-color-hero); }

.webs-top { color: var(--accent-color-title); }
.weba {  color: var(--accent-color-web);    }

.webs-top, .weba { 
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;  }

.emailink { color: var(--accent-color-rgba);
text-decoration: none;
font-style: normal;
font-size: 14px;
line-height: 1.71;
 }

.address {
   color: var(--accent-color-title);
font-style: normal;
font-size: 14px;
line-height: 1.71;
}

.emailink:hover,
.emailink:focus { 
    color: var(--accent-color-web); }


/* Сторінка Portfolio */

.but {
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    background-color: var(--accent-color-but);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.but:hover,
.but:focus {
    color: var(--accent-color-title);
    background-color: var(--accent-color-web);
}

.link-nav {
text-decoration: none;
}

.title-h2 {
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--title-text-color);
}

.tex {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
}

